/* Font declaration to the rest of my code */
html{ 
    font-family: 'Times New Roman', Times, serif;
}

/* Heading */
    .heading{
        background-image: url(../Images/Background.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: fit-content;
        height: 50%;
        color: rgb(255, 255, 255);
        position: relative;
    
}

/* .content li{
    display:inline;
    list-style: none;
    text-align: left;

} */

/* Embaded video */
.container{
    width: 400px;
    height: 181px;
}

.menu{
    color:rgb(255, 255, 255);
    font-size: 35px;
    line-height: 80px;
    /* padding: 0 100px; */
    font-weight: bold;
    margin-top: 50%;
}

/* navigation */
nav{
    height: 80px;
    width: 100%;
}

nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 100px;
    margin: 0 5px;
    font-size: large;
}

article{
    background-color: rgb(157, 190, 224);
    font-size: large;
    color: rgb(225, 225, 234);
}

footer{
    background-image: url(../Images/Background.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: fit-content;
        height: 100%;
        color: rgb(239, 243, 246);
}

.grid-tem{
    background-color: rgb(255, 255, 255);
    bor-der: 1px solid rgb(0, 0, 0);
    padding: 10px;
}

.grid-container{
    background-color:  rgb(0, 0, 0);
    border: 1px solid rgb(161, 65, 65);

    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
}