/* Font declaration to the rest of my code */
html{ 
    font-family: 'Times New Roman', Times, serif;
}
/* Heading style */
.heading{
    background-image: url(../Images/Background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fit-content;
    height: 50vh;
    color: rgb(255, 255, 255);
    position: relative;
}

/* My name and career styling */
#title{
    text-align: center;
    position: relative;
    top: 100px;
    color:rgb(8, 14, 18);
}

/* Picture styling */
img {
    border-radius: 50%;
    border: 2px solid white;
    height: auto;
    padding-top: 1px;
    width: 20%;
    position: relative;
    left: 250px;
    bottom: 20px;

}

#name{
    margin-right: 20px;
}

.menu ul{
    position: absolute;
    right: 5%;
    top: 0; 
    
}

.menu ul li a{
    text-decoration: none;
    font-size: 20px;
    color:rgb(0,0,0);
    font-weight: bold; 
    
}
.menu ul li{
    display: inline-block;
    margin: 10px;
}

article{
    background-color: rgb(157, 190, 224);
    font-size: large;
    color: rgb(225, 225, 234);
    cursor: pointer;
}

#about me, #skills, #education{
    text-align: center;
}

/* footer{
        color: rgb(8, 14, 18);
        font-size: large;
        overflow: hidden;
} */

.grid-item{
    /* background-color: rgb(255, 255, 255); */
    border: 2px solid rgb(8, 26, 54);
    padding: 10px;
}

.grid-container{
    background-color:  rgb(74, 72, 72);
    /* border: 1px solid rgb(153, 152, 152); */

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
}

/* .grid-item education:hover{
    color: rgb(157, 190, 224);
    transform: scale(1.1);


} */


.form{
    background-color: rgb(55, 70, 88);
    color: rgb(255, 255, 255);
}

#icon li{
    display:inline-block;
    list-style: none;
    text-align: center;
}

.icon li{
    text-align: center;
}

footer h2{
    text-align: center;
}

/* -----------------------------------------------------------Media Queries---------------------------------------------------------------------- */
/* SMALL DEVICES */
@media screen and (max-width: 600px){
    .heading{
        font-size: small;
    }

    article{
        font-size: small;
        font-family:Arial, Helvetica, sans-serif
    }

    #about me, #skills, #education{
        font-size: medium;
    }

    footer{
        font-size: small;
        display: flex;
    }

    .form{
        font-size: smaller;
        text-align: center;
    }

}

/* TABLET */
@media screen and (min-width: 601px){
.heading{
    font-size: medium;
}

.article{
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#about me, #skills, #education{
    font-size: large;
}

.form{
    text-align: center;
    font-size: medium;
}

footer{
    font-size: medium;
}
}

/* Desktop device */
 @media screen and (min-width:993px){
    
 }
